2
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"81b567bd.2e11e8","type":"http in","z":"31332582.eedb62","name":"Вход","url":"/phone","method":"get","upload":false,"swaggerDoc":"","x":70,"y":20,"wires":[["88eff4d6.430908","96def5da.807d38"]]},{"id":"88eff4d6.430908","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":20,"wires":[]},{"id":"dbbe822e.d1137","type":"function","z":"31332582.eedb62","name":"Валидный номер телефона?","func":"if(msg.number != null){\n\tmsg.payload.number = msg.number.replace(/[^0-9]/g,\"\");\n\tif(msg.payload.number.length == 10 || msg.payload.number.length == 12){\n\t\tif(msg.payload.number.length == 10){\n\t\t\tif(msg.payload.number.slice(0,3) == \"097\" || msg.payload.number.slice(0,3) == \"098\" || msg.payload.number.slice(0,3) == \"096\" || msg.payload.number.slice(0,3) == \"068\"){\n\t\t\t\tmsg.payload.operator = \"Kievstar\"\n\t\t\t}\n\t\t\tif(msg.payload.number.slice(0,3) == \"050\" || msg.payload.number.slice(0,3) == \"066\" || msg.payload.number.slice(0,3) == \"095\" || msg.payload.number.slice(0,3) == \"099\"){\n\t\t\t\tmsg.payload.operator = \"Vodafone\"\n\t\t\t}\n\t\t\tif(msg.payload.number.slice(0,3) == \"063\" || msg.payload.number.slice(0,3) == \"073\" || msg.payload.number.slice(0,3) == \"093\"){\n\t\t\t\tmsg.payload.operator = \"Lifecell\"\n\t\t\t}\n\t\t} \n\t\tif(msg.payload.number.length == 12){\n\t\t\tif(msg.payload.number.slice(0,5) == \"38097\" || msg.payload.number.slice(0,5) == \"38098\" || msg.payload.number.slice(0,5) == \"38096\" || msg.payload.number.slice(0,5) == \"38068\"){\n\t\t\t\tmsg.payload.operator = \"Kievstar\"\n\t\t\t}\n\t\t\tif(msg.payload.number.slice(0,5) == \"38050\" || msg.payload.number.slice(0,5) == \"38066\" || msg.payload.number.slice(0,5) == \"38095\" || msg.payload.number.slice(0,5) == \"38099\"){\n\t\t\t\tmsg.payload.operator = \"Vodafone\"\n\t\t\t}\n\t\t\tif(msg.payload.number.slice(0,5) == \"38063\" || msg.payload.number.slice(0,5) == \"38073\" || msg.payload.number.slice(0,5) == \"38093\"){\n\t\t\t\tmsg.payload.operator = \"Lifecell\"\n\t\t\t}\n\t\t\tif(msg.payload.operator == null){\n\t\t\t\tmsg.payload.error = \"Не существующий оператор\"\n\t\t\t}\n\t\t}else{\n\t\t\tmsg.payload.error = \"Не корректный номер телефона\";\n\t\t}\n\t}else{\n\t\tmsg.payload.error = \"Не корректный номер телефона\";\n\t}\n}else{\n\tmsg.payload.error = \"Отсутствует номер телефона\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["7b2f87ac.93bf38","9b075b53.dbf8f8"]]},{"id":"d3d0d67c.071108","type":"http request","z":"31332582.eedb62","name":"Апи валидации сессии","method":"GET","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{{payload.sid}}}","tls":"","proxy":"","authType":"","x":570,"y":100,"wires":[["6e4672a9.48497c"]]},{"id":"6e4672a9.48497c","type":"xml","z":"31332582.eedb62","name":"","property":"payload","attr":"","chr":"","x":770,"y":100,"wires":[["3731ff88.b8bc1"]]},{"id":"7b2f87ac.93bf38","type":"switch","z":"31332582.eedb62","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"eq","v":"Не передана сессия","vt":"str"},{"t":"eq","v":"Отсутствует номер телефона","vt":"str"},{"t":"eq","v":"Не корректный номер телефона","vt":"str"},{"t":"eq","v":"Не существующий оператор","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":5,"x":470,"y":320,"wires":[["3c2cac39.826f44"],["3c2cac39.826f44"],["3c2cac39.826f44"],["3c2cac39.826f44"],["c3b8ee43.ee01e"]]},{"id":"3c2cac39.826f44","type":"http response","z":"31332582.eedb62","name":"Что-то не так","statusCode":"400","headers":{},"x":760,"y":300,"wires":[]},{"id":"96def5da.807d38","type":"function","z":"31332582.eedb62","name":"Есть номер тел и сессия?","func":"if(msg.payload.sid != null){\n    msg.sid = msg.payload.sid\n}else{\n    msg.payload.error = \"Не передана сессия\"\n}\n\nif(msg.payload.number != null){\n   msg.number = msg.payload.number\n}else{\n    msg.payload.error = \"Не передан номер телефона\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":100,"wires":[["9c0dc769.7531f8"]]},{"id":"9c0dc769.7531f8","type":"switch","z":"31332582.eedb62","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"eq","v":"Не передана сессия","vt":"str"},{"t":"null"},{"t":"eq","v":"Не передан номер телефона","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":100,"wires":[["37206347.f5a42c"],["d3d0d67c.071108"],["37206347.f5a42c"]]},{"id":"37206347.f5a42c","type":"http response","z":"31332582.eedb62","name":"Нету обьязательного параметра","statusCode":"400","headers":{},"x":520,"y":20,"wires":[]},{"id":"3731ff88.b8bc1","type":"function","z":"31332582.eedb62","name":"Сессия активна?","func":"msg.payload.result_sid = \"Сессия не активна\"\nif(msg.payload.session != null){\nif(msg.payload.session.$.state == \"ACTIVE\"){\n    msg.payload.result_sid = \"Активная сессия\"\n}\n}    \n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["bea2d112.60966","ff7aa98a.40f1f8"]]},{"id":"ff7aa98a.40f1f8","type":"switch","z":"31332582.eedb62","name":"","property":"payload.result_sid","propertyType":"msg","rules":[{"t":"eq","v":"Активная сессия","vt":"str"},{"t":"eq","v":"Сессия не активна","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":160,"wires":[["dbbe822e.d1137"],["82f71138.37362"]]},{"id":"82f71138.37362","type":"http response","z":"31332582.eedb62","name":"Сессия не активна","statusCode":"200","headers":{},"x":650,"y":160,"wires":[]},{"id":"c3b8ee43.ee01e","type":"http response","z":"31332582.eedb62","name":"Все окей","statusCode":"200","headers":{},"x":740,"y":340,"wires":[]},{"id":"9b075b53.dbf8f8","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":400,"wires":[]},{"id":"bea2d112.60966","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":190,"y":220,"wires":[]}]
